<div class="blog-posts">
  <div class="card">
    <div class="card-header">
      Saturday, March 3, 2018
    </div>
    <div class="card-body">
      <h5 class="card-title">
        <a href="#">New study of unsolved female murders in Cleveland</a>
      </h5>
      <div class="card-text">
        <p>Reporters from WKYC-TV and Cleveland’s The Plain Dealer newspaper have collaborated to review recent unsolved homicides
          of women and asked the Murder Accountability Project to review their data on 61 unsolved killings going back to
          2004.
        </p>
        <p>The review found that 34 of these women were killed by gunfire, 10 by blunt force, 9 by strangulation and 8 by stabbing.
          Slightly more than 44 percent of Cleveland’s unsolved female homicides were committed through means other than
          firearms, while the national average for such killings is 29 percent.</p>
        <p>Studies of known victims of serial killers consistently show that serial victims are disproportionately female and
          killed by strangulation, stabbing or blunt force.</p>
        <p>Women in Cleveland who perished through these more personal, hands-on methods of killing varied in several statistically
          significant ways from the city’s women who died from gunfire. They were much more likely to have a history of prostitution,
          to be 40 years old or older and to be white or Hispanic.</p>
        <p>Here are the percentages: Women with a history of prostitution were killed by hands-on methods 77% of the time, compared
          to 35% for women with no such history. Only 32% of women under 40 died from these personal killing methods compared
          to 62% of women 40 or older. Among white or Hispanic women, 79% died from the more intimate methods of killing,
          compared to 34% of African American victims.</p>
      </div>
      <div class="card-video">
        <iframe allowfullscreen="" class="YOUTUBE-iframe-video" data-thumbnail-src="https://i.ytimg.com/vi/VtbdHB8pBEg/0.jpg" frameborder="0"
          height="266" src="https://www.youtube.com/embed/VtbdHB8pBEg?feature=player_embedded" style="clear: right; float: right;"
          width="320"></iframe>
      </div>
      <div class="card-learn-more" style="clear: both;">
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>
</div>